:root {
  --white: #fafafa;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  overflow-wrap: break-word;
}

.logo {
  display: flex;
  min-height: 4rem;
  justify-content: center;
  align-items: end;
}

.hero-content {
  display: grid;
  justify-items: center;
  align-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "box1 box2"
  "box3 box3";
  padding-top: 2.3rem;
  gap: .8rem;
}

.content-bg__left {
  grid-area: box1;
  max-width: 100%;
}

.content-bg__right {
  grid-area: box2;
  max-width: 100%;
}

.wrapper-content {
  grid-area: box3;
  justify-content: center;
  align-items: center;
  padding-top: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content__title {
  max-width: 25rem;
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--slate-900);
}

.content__text {
  font-size: 1.4rem;
  padding: 0 1.8rem 0 1.8rem;
  max-width: 31rem;
  overflow-wrap: break-word;
  color: var(--slate-600);
}

.content-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 900;
}

.cta__download {
  background-color: var(--cyan-600);
  text-decoration: none;
  color: var(--white);
  padding: 1rem 2.5rem;
  border-radius: 2rem;
}

.cta__download:hover {
  opacity: 80%;
}

.cta__download span {
  color: var(--cyan-300);
}

.cta__info {
  background-color: var(--purple-600);
  color: var(--white);
  border: none;
  font-weight: 900;
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.cta__info:hover {
  opacity: 80%;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
  
.circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--slate-300);
  position: relative;
}
  
.number {
  font-size: 1rem;
  color: var(--slate-600); 
  font-weight: 900;
}
  
.circle::before {
  content: '';
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  width: .07rem;
  height: 3rem; 
  background-color: var(--slate-300);
} 
  
.info {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  gap: 3rem;
}

.info-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
}

.info-gallery > img {
  width: 100%;
  border-radius: 1rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
}

.container__subtitle {
  color: var(--cyan-600);
  letter-spacing: .2rem;
  font-size: .9rem;
  text-transform: uppercase;
}

.container__title {
  font-size: 2rem;
  color: var(--slate-900);
  font-weight: 900;
  padding: 0 2rem 0 2rem;
}

.container__text {
  font-size: 1rem;
  text-wrap: balance;
  padding: .6rem .6rem 0 rem;
  min-width: 60%;
  color: var(--slate-600);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  position: relative;
}

.footer-description {
  background-image: linear-gradient(
    rgba(77, 150, 168, 0.8),
    rgba(77, 150, 168, 0.8)
    ), url(../starter-code/assets/mobile/image-footer.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem;
  gap: 2rem;
  color: var(--white);
}

.description__title {
  font-weight: 900;
  letter-spacing: 0.1rem;
}
.description__text {
  font-weight: 600;
}

.featured {
  background-color: var(--purple-600);
  font-weight: 900;
}

.featured span {
  color: var(--purple-300);
}

.foot {
  position: absolute;
  top: 3.5rem;
  background: var(--white);
}

@media (min-width: 768px) {
  .content__title {
    padding-top: 1rem;
    text-wrap: balance;
    max-width: 20rem;
  }

  .content__text {
    max-width: 30rem;
    overflow-wrap: break-word;
  }

  .content-cta {
    flex-direction: row;
  }

  .info-gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .container__text {
    max-width: 7rem;
  }

  .content-bg__left,
  .content-bg__right {
    min-width: 100%;
  }

  .footer-description {
    background-image: linear-gradient(
    rgba(77, 150, 168, 0.8),
    rgba(77, 150, 168, 0.8)
    ), url(../starter-code/assets/tablet/image-footer.jpg);
    min-width: 100%;
  }

  .description__text {
    max-width: 30rem;
  }
}

@media (min-width: 1440px) {
  .hero-content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box3 box2";
    padding-bottom: 4rem;
  }

  .info-container {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }

  .container__text {
    min-width: 50%;
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  .container__title {
    max-width: 30rem;
    font-size: 3.1rem;
  }

  .info-gallery {
    padding: 0 6rem 0 6rem;
  }

  .footer-description {
    background-image: linear-gradient(
    rgba(77, 150, 168, 0.8),
    rgba(77, 150, 168, 0.8)
    ), url(../starter-code/assets/desktop/image-footer.jpg);
    flex-direction: row;
    justify-content: space-between;
    padding: 8rem 6rem 8rem 6rem;
    align-items: center;
    text-align: left;
  }

  .description__title {
    max-width: 20rem;
  }

  .description__text {
    max-width: 20rem;
  }
}


